.stepper {
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto 78px;
  height: 8px;
  background: var(--black-alpha-8);
  flex-direction: row;
  justify-content: space-between;
}

.line {
  flex: 1;
  height: 8px;

  &__filled {
    width: 100%;
    background: var(--blue-accent);
    transform: scaleX(1.05);
    transition: background-color 0.3s;
    z-index: 1;
  }
}

.circle {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background: var(--grey-350);
  border-radius: var(--border-circle);
  transition: background-color 0.3s;
  z-index: 2;

  &__current {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-accent);

    &::after {
      display: block;
      content: '';
      width: 4px;
      height: 4px;
      border-radius: var(--border-circle);
      background: var(--form-bg-color);
    }
  }

  &__done {
    background-image: url('../../images/step-done-icon.svg');
    background-repeat: no-repeat;
    background-color: var(--blue-accent);
    background-position: center;
  }
}

.step {
  position: absolute;
  top: var(--space-6);
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-600);

  &__done {
    color: var(--blue-accent);
  }

  &__current {
    font-weight: 600;
  }
}
