.form {
  display: flex;
  flex-direction: column;

  &__label {
    max-width: fit-content;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: var(--space-2);
    margin-top: var(--space-6);

    &_type_group {
      margin-bottom: 0;
    }
  }

  &__input {
    padding: 11px;
    max-width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid var(--black-alpha-16);
    border-radius: var(--border-s);
    box-sizing: border-box;

    &_size_l {
      max-width: 300px;
      width: 100%;

      @media screen and (max-width: 600px) {
        width: 80%;
      }
    }

    &:disabled {
      background: var(--black-alpha-4);
      color: var(--black-alpha-48);
    }

    &:focus {
      box-shadow: 0 0 5px 0 var(--blue-alpha);
      outline: 0;
    }
  }

  &__option {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    border: 0;
    margin-bottom: 162px;
    padding-bottom: 123px;
  }

  &__btn {
    display: block;
    margin-top: calc(var(--space-unit) * 12);
    max-width: fit-content;
    padding: 10px 14px;
    background: var(--blue-accent);
    border-radius: var(--border-s);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--form-bg-color);
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid var(--blue-accent);
    transition: var(--transition-opacity);

    &_type_back {
      background: transparent;
      color: var(--blue-accent);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__error {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--red-accent);

    &_with_counter {
      display: inline-block;
    }
  }

  &__container {
    padding-top: var(--space-4);
    display: flex;
    justify-content: space-between;
  }

  &__checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: var(--border-s);
    border: 1.5px solid var(--black-alpha-24);
    margin-right: var(--space-2);
    box-sizing: border-box;
    display: grid;
    place-content: center;

    &::before {
      content: '';
      width: 0.5em;
      height: 0.5em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--blue-accent);
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &__variant-row {
    display: flex;
    align-items: center;
  }

  &__checkbox-label {
    max-width: fit-content;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__radio {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1.5px solid var(--black-alpha-24);
    margin-right: 10px;
    box-sizing: border-box;
    display: grid;
    place-content: center;

    &::before {
      content: '';
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--blue-accent);
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &__variants-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  &__delete-icon {
    margin-left: var(--space-4);
    width: 20px;
    height: 20px;
    border: 0;
    background: url(../../images/remove-btn-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
    transition: var(--transition-opacity);

    &:hover {
      opacity: 0.7;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__adv {
    margin-bottom: var(--space-2);
  }

  &__add-btn {
    width: 44px;
    height: 44px;
    border: 2px solid var(--blue-accent);
    border-radius: var(--border-s);
    background: url(../../images/add-btn-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
    transition: var(--transition-opacity);

    &:hover {
      opacity: 0.7;
    }
  }

  &__textarea {
    padding: 12px;
    min-width: 100%;
    max-width: 100%;
    min-height: 84px;
    max-height: 300px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background: var(--form-bg-color);
    border: 1px solid var(--black-alpha-16);
    border-radius: var(--border-s);
    box-sizing: border-box;

    &:focus {
      box-shadow: 0 0 5px 0 var(--blue-alpha);
      outline: 0;
    }
  }

  &__counter {
    margin-top: var(--space-2);
    float: right;
    display: inline;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--black-alpha-48);
  }
}
