@import url(./vendor/fonts/font.scss);

body {
  font-family: 'SB Sans Interface', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f5;
  box-sizing: border-box;
}
